<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
</ul>
<% } %>


<div class="update-container text-center">
    <h1>Update Contact Information</h1>


    <form id="updateForm" action="" class=" d-flex justify-content-center align-items-center flex-column">
        <input type="text" name="id" id="id" value="<%=_id%>" hidden>
        <label for="firstName">First Name
            <input type="text" name="firstName" id="firstName" placeholder="First Name" value="<%=firstName%>" required>
        </label>
        <label for="lastName">Last Name
            <input type="text" name="lastName" id="lastName" placeholder="Last Name" value="<%=lastName%>" required>
        </label>
        <label for="email"> Email Address
            <input type="email" name="email" id="email" placeholder="Email" value="<%=email%>" required>
        </label>
        <label for="favoriteColor">Favorite Color
            <input type="text" name="favoriteColor" id="favoriteColor" placeholder="Favorite Color"
                value="<%=favoriteColor%>" required>
        </label>
        <label for="birthday" class="text-center">Birthday
            <input type="date" name="birthday" id="birthday" placeholder="Birthday" value="<%=birthday%>" required>
        </label>

        <!-- <button type="submit" class="mt-4">Submit</button> -->
    </form>

</div>

